{% extends 'base.html' %}

{% block content %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <h2>{{ title }}</h2>
                <code>TODO: Страница нужна в виде отдельного пустого пакета, для понимания, чтобы был шаблончик пустой
                    для дальнейшего масштабирования</code><br>
                <code>TODO: Доступ к странице только авторизованным USER.</code><br>
                <code>TODO: Проверить что неавторизованных и ADMIN выбрасывает на авторизацию</code><br>
                <p>Еще одна страничка, но она закрыта на авторизацию.</p>
            </div>
        </div>
    </div>

{% endblock %}